* {
  font-size: 1.3rem;
}

html, body {
  background-image: url('/images/clouds-background.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: hsl(202, 71%, 90%);
  height: 100vh;
}

.usa-link {
  font-size: 1.3rem !important;
}
