{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-xo-space",
    "stylelint-config-recess-order",
    "stylelint-a11y/recommended",
    "stylelint-no-unsupported-browser-features",
    "stylelint-config-prettier"
  ]
}
