.CovenantLinkContainer {
  display: grid;
  gap: 24px;
  font-size: 1.2rem;
  margin: 32px 0;
}

.DashboardCovenantLinkContainer {
  display: grid;
  gap: 16px;
}

.EventContainer {
  max-width: 80%;
  margin: auto;
}

.DateTime {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 16px;
}

.EventTimes {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.PaginationDisplay {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.PaginationButtons {
  display: flex;
  gap: 16px;
  justify-content: center;
  padding: 8px;
}



